
@font-face {
  font-family: 'VN_BrandonGrotesque-Regular';
  src: url('VN_BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),  url('VN_BrandonGrotesque-Regular.woff') format('woff'), url('VN_BrandonGrotesque-Regular.ttf')  format('truetype'), url('VN_BrandonGrotesque-Regular.svg#VN_BrandonGrotesque-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
