
@font-face {
  font-family: 'BrandonText-Medium';
  src: url('BrandonText-Medium.eot?#iefix') format('embedded-opentype'),  url('BrandonText-Medium.otf')  format('opentype'),
	     url('BrandonText-Medium.woff') format('woff'), url('BrandonText-Medium.ttf')  format('truetype'), url('BrandonText-Medium.svg#BrandonText-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
