@font-face {
    font-family: 'iCielTexta';
    src: url('iCielTexta.eot?#iefix') format('embedded-opentype'), url('iCielTexta.otf') format('opentype'),
    url('iCielTexta.woff') format('woff'), url('iCielTexta.ttf') format('truetype'), url('iCielTexta.svg#iCielTexta') format('svg');
    font-weight: normal;
    font-style: normal;
}
