
@font-face {
  font-family: 'BrandonText-Bold';
  src: url('BrandonText-Bold.eot?#iefix') format('embedded-opentype'),  url('BrandonText-Bold.woff') format('woff'), url('BrandonText-Bold.ttf')  format('truetype'), url('BrandonText-Bold.svg#BrandonText-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
