
@font-face {
  font-family: 'iCielTexta-Heavy';
  src: url('iCielTexta-Heavy.eot?#iefix') format('embedded-opentype'),  url('iCielTexta-Heavy.woff') format('woff'), url('iCielTexta-Heavy.ttf')  format('truetype'), url('iCielTexta-Heavy.svg#iCielTexta-Heavy') format('svg');
  font-weight: normal;
  font-style: normal;
}
