@font-face {
    font-family: 'iCielTexta-ThinItalic';
    src: url('iCielTexta-ThinItalic.eot?#iefix') format('embedded-opentype'), url('iCielTexta-ThinItalic.woff') format('woff'), url('iCielTexta-ThinItalic.ttf') format('truetype'), url('iCielTexta-ThinItalic.svg#iCielTexta-ThinItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
