
@font-face {
  font-family: 'iCielTexta-Italic';
  src: url('iCielTexta-Italic.eot?#iefix') format('embedded-opentype'),  url('iCielTexta-Italic.otf')  format('opentype'),
	     url('iCielTexta-Italic.woff') format('woff'), url('iCielTexta-Italic.ttf')  format('truetype'), url('iCielTexta-Italic.svg#iCielTexta-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
