
@font-face {
  font-family: 'BrandonText-LightItalic';
  src: url('BrandonText-LightItalic.eot?#iefix') format('embedded-opentype'),  url('BrandonText-LightItalic.otf')  format('opentype'),
	     url('BrandonText-LightItalic.woff') format('woff'), url('BrandonText-LightItalic.ttf')  format('truetype'), url('BrandonText-LightItalic.svg#BrandonText-LightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
