
@font-face {
  font-family: 'BrandonText-BlackItalic';
  src: url('BrandonText-BlackItalic.eot?#iefix') format('embedded-opentype'),  url('BrandonText-BlackItalic.otf')  format('opentype'),
	     url('BrandonText-BlackItalic.woff') format('woff'), url('BrandonText-BlackItalic.ttf')  format('truetype'), url('BrandonText-BlackItalic.svg#BrandonText-BlackItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
