@font-face {
    font-family: 'iCielTexta-Bold';
    src: url('iCielTexta-Bold.eot?#iefix') format('embedded-opentype'), url('iCielTexta-Bold.otf') format('opentype'),
    url('iCielTexta-Bold.woff') format('woff'), url('iCielTexta-Bold.ttf') format('truetype'), url('iCielTexta-Bold.svg#iCielTexta-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
