@font-face {
    font-family: 'BrandonText-MediumItalic';
    src: url('BrandonText-MediumItalic.eot?#iefix') format('embedded-opentype'), url('BrandonText-MediumItalic.otf') format('opentype'),
    url('BrandonText-MediumItalic.woff') format('woff'), url('BrandonText-MediumItalic.ttf') format('truetype'), url('BrandonText-MediumItalic.svg#BrandonText-MediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
